openapi: 3.0.0
info:
  description: "An SDK to integrate virus and malware scan capabilities into Java\
    \ applications. Scan files for viruses, trojans, and other kinds of malware with\
    \ attachmentAV powered by Sophos."
  title: attachmentAV
  version: 1.0.0
servers:
- url: https://eu.developer.attachmentav.com/v1
security:
- apiKeyAuth: []
- bearerAuth: []
tags:
- name: attachmentAV
paths:
  /scan/sync/binary:
    post:
      description: "Upload a file, scan the file, and return the scan result."
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScanResult"
          description: Success
      tags:
      - attachmentAV
      x-content-type: application/octet-stream
      x-accepts:
      - application/json
  /scan/sync/download:
    post:
      description: "Download a file from a remote location (HTTP/HTTPS), scan the\
        \ file, and return the scan result."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncDownloadScanRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScanResult"
          description: Success
      tags:
      - attachmentAV
      x-content-type: application/json
      x-accepts:
      - application/json
  /scan/sync/s3:
    post:
      description: "Download a file from S3, scan the file, and return the scan result.\
        \ A bucket policy is required to grant attachmentAV access to the S3 objects."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncS3ScanRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScanResult"
          description: Success
      tags:
      - attachmentAV
      x-content-type: application/json
      x-accepts:
      - application/json
  /scan/async/result:
    get:
      description: Retrieve the scan result for scan job.
      parameters:
      - description: ID used when submitting the scan job.
        explode: true
        in: query
        name: trace_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScanResult"
          description: Success
        "404":
          description: Not found
      tags:
      - attachmentAV
      x-accepts:
      - application/json
  /scan/async/download:
    post:
      description: "Download a file from a remote location (HTTP/HTTPS), scan the\
        \ file, and post the scan result to your callback URL."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AsyncDownloadScanRequest"
        required: true
      responses:
        "201":
          description: Created
          headers:
            Location:
              description: URL to scan result for polling
              explode: false
              schema:
                type: string
              style: simple
        "204":
          description: Success
      tags:
      - attachmentAV
      x-content-type: application/json
      x-accepts:
      - application/json
  /scan/async/s3:
    post:
      description: "Download a file from S3, scan the file, and post the scan result\
        \ to your callback URL. A bucket policy is required to grant attachmentAV\
        \ access to the S3 objects."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AsyncS3ScanRequest"
        required: true
      responses:
        "201":
          description: Created
          headers:
            Location:
              description: URL to scan result for polling
              explode: false
              schema:
                type: string
              style: simple
        "204":
          description: Success
      tags:
      - attachmentAV
      x-content-type: application/json
      x-accepts:
      - application/json
  /whoami:
    get:
      description: Get information abour yourself.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Whoami"
          description: Success
      tags:
      - attachmentAV
      x-accepts:
      - application/json
  /usage:
    get:
      description: Get remaining credits and quota.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Usage"
          description: Success
      tags:
      - attachmentAV
      x-accepts:
      - application/json
components:
  schemas:
    Whoami:
      example:
        tenantId: tenantId
      properties:
        tenantId:
          type: string
      required:
      - tenantId
    Usage:
      example:
        credits: 0.8008281904610115
        quota:
          period: period
          limit: 6.027456183070403
      properties:
        credits:
          type: number
        quota:
          $ref: "#/components/schemas/Usage_quota"
      required:
      - credits
      - quota
    ScanResult:
      example:
        size: 0.8008281904610115
        realfiletype: realfiletype
        finding: finding
        status: status
      properties:
        status:
          type: string
        finding:
          type: string
        size:
          type: number
        realfiletype:
          type: string
      required:
      - status
    SyncDownloadScanRequest:
      example:
        download_url: download_url
        download_headers:
          key: download_headers
      properties:
        download_url:
          pattern: "^(?:(?:(?:https?):)?\\/\\/)(?:\\S+(?::\\S*)?@)?(?:(?!(?:10|127)(?:\\\
            .\\d{1,3}){3})(?!(?:169\\.254|192\\.168)(?:\\.\\d{1,3}){2})(?!172\\.(?:1[6-9]|2\\\
            d|3[0-1])(?:\\.\\d{1,3}){2})(?:[1-9]\\d?|1\\d\\d|2[01]\\d|22[0-3])(?:\\\
            .(?:1?\\d{1,2}|2[0-4]\\d|25[0-5])){2}(?:\\.(?:[1-9]\\d?|1\\d\\d|2[0-4]\\\
            d|25[0-4]))|(?:(?:[a-z0-9\\u00a1-\\uffff][a-z0-9\\u00a1-\\uffff_-]{0,62})?[a-z0-9\\\
            u00a1-\\uffff]\\.)+(?:[a-z\\u00a1-\\uffff]{2,}\\.?))(?::\\d{2,5})?(?:[/?#]\\\
            S*)?$"
          type: string
        download_headers:
          additionalProperties:
            type: string
          type: object
      required:
      - download_url
    SyncS3ScanRequest:
      example:
        bucket: bucket
        version: version
        key: key
      properties:
        bucket:
          type: string
        key:
          type: string
        version:
          type: string
      required:
      - bucket
      - key
    AsyncDownloadScanRequest:
      example:
        callback_url: callback_url
        trace_id: trace_id
        download_url: download_url
        callback_headers:
          key: callback_headers
        download_headers:
          key: download_headers
        custom_data: custom_data
      properties:
        download_url:
          pattern: "^(?:(?:(?:https?):)?\\/\\/)(?:\\S+(?::\\S*)?@)?(?:(?!(?:10|127)(?:\\\
            .\\d{1,3}){3})(?!(?:169\\.254|192\\.168)(?:\\.\\d{1,3}){2})(?!172\\.(?:1[6-9]|2\\\
            d|3[0-1])(?:\\.\\d{1,3}){2})(?:[1-9]\\d?|1\\d\\d|2[01]\\d|22[0-3])(?:\\\
            .(?:1?\\d{1,2}|2[0-4]\\d|25[0-5])){2}(?:\\.(?:[1-9]\\d?|1\\d\\d|2[0-4]\\\
            d|25[0-4]))|(?:(?:[a-z0-9\\u00a1-\\uffff][a-z0-9\\u00a1-\\uffff_-]{0,62})?[a-z0-9\\\
            u00a1-\\uffff]\\.)+(?:[a-z\\u00a1-\\uffff]{2,}\\.?))(?::\\d{2,5})?(?:[/?#]\\\
            S*)?$"
          type: string
        download_headers:
          additionalProperties:
            type: string
          type: object
        callback_url:
          pattern: "^(?:(?:(?:https?):)?\\/\\/)(?:\\S+(?::\\S*)?@)?(?:(?!(?:10|127)(?:\\\
            .\\d{1,3}){3})(?!(?:169\\.254|192\\.168)(?:\\.\\d{1,3}){2})(?!172\\.(?:1[6-9]|2\\\
            d|3[0-1])(?:\\.\\d{1,3}){2})(?:[1-9]\\d?|1\\d\\d|2[01]\\d|22[0-3])(?:\\\
            .(?:1?\\d{1,2}|2[0-4]\\d|25[0-5])){2}(?:\\.(?:[1-9]\\d?|1\\d\\d|2[0-4]\\\
            d|25[0-4]))|(?:(?:[a-z0-9\\u00a1-\\uffff][a-z0-9\\u00a1-\\uffff_-]{0,62})?[a-z0-9\\\
            u00a1-\\uffff]\\.)+(?:[a-z\\u00a1-\\uffff]{2,}\\.?))(?::\\d{2,5})?(?:[/?#]\\\
            S*)?$"
          type: string
        callback_headers:
          additionalProperties:
            type: string
          type: object
        trace_id:
          type: string
        custom_data:
          type: string
      required:
      - download_url
    AsyncS3ScanRequest:
      example:
        bucket: bucket
        callback_url: callback_url
        trace_id: trace_id
        callback_headers:
          key: callback_headers
        version: version
        custom_data: custom_data
        key: key
      properties:
        bucket:
          type: string
        key:
          type: string
        version:
          type: string
        callback_url:
          pattern: "^(?:(?:(?:https?):)?\\/\\/)(?:\\S+(?::\\S*)?@)?(?:(?!(?:10|127)(?:\\\
            .\\d{1,3}){3})(?!(?:169\\.254|192\\.168)(?:\\.\\d{1,3}){2})(?!172\\.(?:1[6-9]|2\\\
            d|3[0-1])(?:\\.\\d{1,3}){2})(?:[1-9]\\d?|1\\d\\d|2[01]\\d|22[0-3])(?:\\\
            .(?:1?\\d{1,2}|2[0-4]\\d|25[0-5])){2}(?:\\.(?:[1-9]\\d?|1\\d\\d|2[0-4]\\\
            d|25[0-4]))|(?:(?:[a-z0-9\\u00a1-\\uffff][a-z0-9\\u00a1-\\uffff_-]{0,62})?[a-z0-9\\\
            u00a1-\\uffff]\\.)+(?:[a-z\\u00a1-\\uffff]{2,}\\.?))(?::\\d{2,5})?(?:[/?#]\\\
            S*)?$"
          type: string
        callback_headers:
          additionalProperties:
            type: string
          type: object
        trace_id:
          type: string
        custom_data:
          type: string
      required:
      - bucket
      - key
    Usage_quota:
      example:
        period: period
        limit: 6.027456183070403
      properties:
        limit:
          type: number
        period:
          type: string
      required:
      - limit
      - period
      type: object
  securitySchemes:
    apiKeyAuth:
      in: header
      name: x-api-key
      type: apiKey
    bearerAuth:
      scheme: bearer
      type: http

